.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .card {
    width: 18rem;
    margin: 10px 10px 10px 10px;
    transition: all 0.4s; /* Agregamos transición para un efecto suave */
  }
 
  .cardPrincipal {
    width: 90%;
  }
  
  #root { 
    text-align: center;
  }
  
  .primeraCard {
    margin-bottom: 20px;
  }
  
  .primeraFilaCards {
    margin-top: 20px;
  }
  
  body {
    background-image: url('../../assets/img/imgAboutUs/fondo.png');
    background-size: auto;
    background-repeat: repeat;
  }
  
  .card img {
    filter: grayscale(100%); /* Convierte la imagen en blanco y negro por defecto */
    transition: all 0.4s; /* Agregamos transición para un efecto suave */
  }
  
  .card:hover img {
    filter: grayscale(0%); /* Convierte la imagen a color al hacer hover */
  }
  
  .card:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: scale(1.05); /* Aumenta el tamaño al hacer hover */
  }
  
  .button-group-hover .btn-primary:hover {
    background-color: #808080 !important;
    border-color: #808080 !important;
  }
  .card-principal-hover .btn-primary:hover {
    background-color: #808080 !important;
    border-color: #808080 !important;
  }