.imgContacto{
  width: 100%;
  height: auto;
  padding: 0;
}

.pieFotoContacto{
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: small;
  height: 58px;
}

.segundoNavContacto{
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  color: #000000A6;
}


.segundoNavContacto:hover{
   color: rgb(0,0,0,0.8);
}

.containerContacto{
  border-radius: 10px;
}

iframe {
  padding: 5px;
  width: 99%;
  border: 1px solid black;
  border-radius: 5px;
} 

.divFormContacto{
  text-align: center;
  width: 100%;
  height: 450px;
  border: 1px solid black;
  align-items: center;
  border-radius: 5px;
}
