

.tabla{
    margin: 30px 20px 30px 0px;
}

/*BOTONES DEL CRUD INICIO*/

.boton-crud{
    background-color: #FF553B !important;
    color: aliceblue !important;
    margin: 15px 10px 0px 0px!important;
}

/*BOTONES DEL CRUD FIN*/




.subtitulo-tabla{
    text-align: center;
    font-size: 18px ;
    
}
.contenido-tabla{

    font-size: 18px;
    text-align: center;
}

.titulo-admin{
    background-color:#FF553B;
    padding: 10px;
    color: white;
}
.imagen{
    width: 15px;
    text-align: center;

}
tr{
    font-size: 15px;
    text-align: center;
    
}
.boton-agregar-producto-padre{
    display: flex;
    justify-content:flex-end;
    margin: 15px 15px 0px 0px;
    text-decoration: none;
}

.boton-agregar-producto{
    margin-left: 300px;
    position: relative;
    background-color: #FF553B !important;
    border-radius: 5px;
    padding: 15px;
    background-repeat: no-repeat;
    cursor: pointer;
    box-sizing: border-box;
    width: 280px;
    height: 50px;
    border: none;
    transition: all 0.3s ease-in-out;
    z-index: 1;
    overflow: hidden;
    color: white !important;
    font-size: 25px !important;

}
.boton-agregar-producto::before{
    content: "";
    background-color: #fc3b1d ;
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 700ms ease-in-out;
    display: inline-block;
    
}

.boton-agregar-producto:hover::before{
    width: 100%;
}



@media only screen and (min-width: 1024px) and (max-width: 1366px) {

}

/* Estilos para pantallas tablet: iPad Mini */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .boton-agregar-producto{
        margin: 15px;
        width: 300px;
    }
    .boton-agregar-producto-padre{
        display: flex;
        justify-content: center;
        
        
    }

}

/* Estilos para dispositivos móviles */
@media only screen and (max-width: 767px) {
    .boton-agregar-producto{
        margin: 15px;
        width: 300px;
    }
    .boton-agregar-producto-padre{
        display: flex;
        justify-content: center;
        
        
    }

    .tabla{
        margin: 0px;
    }
}